suites:
  common_suite:
    namespace: Indigo\Common
    psr4_prefix: Indigo\Common
extensions:
  - PhpSpec\Extension\CodeCoverageExtension
formatter.name: pretty
code_coverage:
  format: clover
  output: build/coverage.xml
